{% extends 'sign_base.html' %}

{% block title %}
    User signin System
{% endblock %}

{% block content %}
    <form action="/user/signin" name="login_form" method="post">

        <h1 class="center">log in</h1>

                        
        <label for="name">UserName</label>
        <input type="text" name="name" class="field" required>

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="sign Up" class="btn">
        
    </form>


{% endblock %}

